body {
  font-size: 16px;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}

/** HEADER **/
h1,
h2 {
  font-family: 'Oswald', sans-serif;
}

a.navbar-brand {
  padding: 0;
  margin-left: 100px;
  margin-top: 7px;
}

#collapsable-nav {
  background-color: #333;
  border: 1px solid #333;
  min-height: 80px;
  margin-bottom: 0;
  border-radius: 0;
  box-shadow: 0px 2px 10px black;
}

#navbarNavDropdown {
  margin-top: 0;
  width: 100%;
}

ul.navbar-nav {
  padding-left: 28vw;
  margin-top: 30px;
}

#collapsable-nav ul li {
  list-style: none;
}

#collapsable-nav ul li a {
  font-size: 1em;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  margin-right: 2vw;
  color: white;
  text-align: center;
  text-decoration: none;
}

#collapsable-nav ul a:hover,
#collapsable-nav ul a:focus {
  text-shadow: 1px 1px 2px #f9bc50;
  text-decoration: none;
  color: #f9bc50;
}

/*Button*/
button.navbar-toggle {
  background-color: #333;
  border: 1.8px solid #333;
  border-radius: 3px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 8vw;
  margin-top: 20px;
}

.icon-bar {
  background-color: #1c9b0c;
  border: 1.6px solid #1c9b0c;
}

/*End Button*/
/* END HEADER */

/* FOOTER */
.panel-footer {
  margin-top: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 115px;
  padding-left: 115px;
  border-top: 0;
  color: white;
  background-color: #333;
  width: 100%;
}

.panel-footer div.row {
  margin-bottom: 35px;
  font-family: 'Josefin Sans', sans-serif;
}

#footer_acerca,
#footer_contacto {
  line-height: 2;
  margin-bottom: 0;
  text-align: center;
}

#footer_acerca>span,
#footer_contacto>span {
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: bold;
  color: #f9bc50;
  font-family: 'Oswald', sans-serif;
}

#footer_acerca>span {
  color: #f9bc50;
}

#footer_contacto>span {
  color: #1c9b0c;
}

#footer_acerca>p {
  text-align: justify;
}

/* END FOOTER */

/*MAIN PAGE*/
.slider-container {
  width: 100%;
  height: 898px;
  margin-top: 1px;
}

.slide#slide1,
.slide#slide2,
.slide#slide3 {
  width: 100%;
  height: 898px;
  overflow: hidden;
  position: absolute;
  background-size: 100% 100%;
}

#slide1 {
  background: url('../images/slides/slide1_lg.jpg') no-repeat;
}

#slide2 {
  background: url('../images/slides/slide2_lg.jpg') no-repeat;
}

#slide3 {
  background: url('../images/slides/slide3_lg.jpg') no-repeat;
}

.slide>.upper-div {
  position: relative;
  width: 400px;
  height: 300px;
  margin: 350px auto 0 auto;
  overflow: hidden;
}

.slide>.lower-div {
  position: relative;
  display: flex;
  justify-content: center;
}

.slide>#upper1 {
  animation: fromRight 2s ease;
}

.slide>#lower1 {
  animation: fromLeft 2s ease;
}

.slide>#upper2 {
  animation: fromTop 2s ease;
}

.slide>#lower2 {
  animation: fromBottom 2s ease;
}

.slide>#upper3 {
  animation: fromRight 2s ease;
}

.slide>#lower3 {
  animation: fromLeft 2s ease;
}

.slide h2 {
  margin-top: 0;
  color: #f9bc50;
  text-align: center;
  font-size: 2em;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.slide P {
  color: white;
  text-align: justify;
}

@keyframes fromLeft {
  0% {
    left: -100%;
  }

  50% {
    left: 0;
  }
}

@keyframes fromRight {
  0% {
    right: -100%;
  }

  50% {
    right: 0;
  }
}

@keyframes fromTop {
  0% {
    top: -100%;
  }

  50% {
    top: 0;
  }
}

@keyframes fromBottom {
  0% {
    bottom: -100%;
  }

  50% {
    bottom: 0;
  }
}

.botonSlides {
  background-color: #1c9b0c;
  color: white;
  width: 200px;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  font-size: 1em;
  margin-top: 20px;
  transition: all .3s ease;
  border: 2px solid #1c9b0c;
  opacity: 0.8;
}

.botonSlides:hover {
  background-color: white;
  color: #1c9b0c;
  opacity: 0.8;
  border: 2px solid white;
}

div#main-content.container-fluid {
  padding: 20px 130px 20px 130px;
  height: 350px;
  background-color: #cacacd;
}

#empresa-principal h2 {
  text-align: center;
  color: #1c9b0c;
  text-transform: uppercase;
  font-weight: bold;
}

#empresa-principal p {
  text-align: justify;
  color: black;
}

/**Contador**/
div#frase-celebre.parallax {
  position: relative;
  padding: 20px 145px 20px 145px;
  height: 400px;
}
div#frase-celebre.parallax::before {
  background: url(../images/fondo.jpg);
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  -webkit-filter: brightness(.8);
  filter: brightness(.8);
}
div#frase{
  position: relative;
}

#frase h3 {
  text-align: center;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  color: #f9bc50;
  text-transform: uppercase;
}

#frase p {
  text-align: center;
  color: white;
}

/*END MAIN PAGE*/
/*SERVICIOS PAGE*/

/*END SERVICIOS PAGE*/
/*PORTAFOLIO PAGE*/

/*END PORTAFOLIOS PAGE*/

/*CONTACTO PAGE*/

/*END CONTACTO PAGE*/

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  a.navbar-brand {
    margin-left: 80px;
  }

  ul.navbar-nav {
    padding-left: 15vw;
  }

  /*MAIN PAGE*/
  .slider-container {
    height: 600px;
  }

  .slide#slide1,
  .slide#slide2,
  .slide#slide3 {
    height: 600px;
  }

  #slide1 {
    background: url('../images/slides/slide1_md.jpg') no-repeat;
  }
  #slide2 {
    background: url('../images/slides/slide2_md.jpg') no-repeat;
  }
  #slide3 {
    background: url('../images/slides/slide3_md.jpg') no-repeat;
  }
  
  .slide>.upper-div {
    height: 300px;
    margin: 200px auto 0 auto;
  }

  .slide h2 {
    font-size: 1.8em;
  }

  .slide p {
    font-size: 0.9em;
  }

  div#main-content.container-fluid {
    padding: 20px 95px 20px 95px;
    height: 280px;
  }

  #empresa-principal h2 {
    font-size: 1.8em;
  }

  #empresa-principal p {
    font-size: 0.9em;
  }

  /**Contador**/
  div#frase-celebre.parallax {
    padding: 20px 145px 20px 145px;
    height: 300px;
  }

  #frase h3 {
    font-size: 1.8em;
  }

  #frase p {
    font-size: 0.9em;
  }

  /* END Home Page */

  .panel-footer {
    padding-right: 80px;
    padding-left: 80px;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  a.navbar-brand {
    margin-left: 50px;
  }

  ul.navbar-nav {
    padding-left: 3vw;
  }

  /* Home Page */
  .slider-container {
    height: 450px;
  }

  .slide#slide1,
  .slide#slide2,
  .slide#slide3 {
    height: 450px;
  }

  #slide1 {
    background: url('../images/slides/slide1_sm.jpg') no-repeat;
  }
  #slide2 {
    background: url('../images/slides/slide2_sm.jpg') no-repeat;
  }
  #slide3 {
    background: url('../images/slides/slide3_sm.jpg') no-repeat;
  }
  

  .slide>.upper-div {
    height: 250px;
    margin: 140px auto 0 auto;
  }

  .slide>.lower-div>.botonSlides {
    margin-top: 0;
    font-size: 0.9em;
    width: 200px;
    height: 45px;
  }

  .slide h2 {
    font-size: 1.6em;
  }

  .slide P {
    font-size: 0.8em;
  }

  div#main-content.container-fluid {
    padding: 20px 65px 20px 65px;
    height: 260px;
  }

  #empresa-principal h2 {
    font-size: 1.7em;
  }

  #empresa-principal p {
    font-size: 0.8em;
  }

  /**Contador**/
  div#frase-celebre.parallax {
    padding: 20px 80px 20px 80px;
    height: 280px;
  }

  #frase h3 {
    font-size: 1.7em;
  }

  #frase p {
    font-size: 0.8em;
  }

  /* End Home Page */

  .panel-footer {
    padding-right: 50px;
    padding-left: 50px;
  }

  #footer_redes .iconos {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {

  /* Header */
  a.navbar-brand {
    margin-left: 20px;
  }

  ul.navbar-nav {
    padding-left: 2vw;
  }

  #collapsable-nav ul li a {
    font-size: 1em;
    padding: 0;
  }

  #collapsable-nav ul li {
    margin-bottom: 15px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
  }

  /* End Header */
  /*HOME PAGE*/
  .slider-container {
    height: 300px;
  }

  .slide#slide1,
  .slide#slide2,
  .slide#slide3 {
    height: 300px;
  }

  #slide1 {
    background: url('../images/slides/slide1_xs.jpg') no-repeat;
  }  

  #slide2 {
    background: url('../images/slides/slide2_xs.jpg') no-repeat;
  }
  #slide3 {
    background: url('../images/slides/slide3_xs.jpg') no-repeat;
  }
  

  .slide>.upper-div {
    height: 180px;
    margin: 60px auto 0 auto;
    width: 320px;
  }

  .slide>.lower-div>.botonSlides {
    margin-top: 5px;
    font-size: 0.8em;
    width: 150px;
    height: 40px;
  }

  .slide h2 {
    font-size: 1.4em;
  }

  .slide P {
    font-size: 0.7em;
  }
  div#main-content.container-fluid {
    padding: 20px 45px 20px 45px;
    height: 420px;
  }

  #empresa-principal h2 {
    font-size: 1.4em;
  }

  #empresa-principal p {
    font-size: 0.7em;
  }

  /**Contador**/
  div#frase-celebre.parallax {
    padding: 20px 50px 20px 50px;
    height: 250px;
  }

  #frase h3 {
    font-size: 1.4em;
  }

  #frase p {
    font-size: 0.7em;
  }
  /* END HOME PAGE*/
  /* Footer */
  .panel-footer {
    padding-right: 30px;
    padding-left: 30px;
  }

  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }

  #footer_acerca,
  #footer_contacto {
    font-size: 0.9em;
  }

  #footer_acerca>span,
  #footer_contacto>span {
    font-size: 1.8em;
  }

  .text-center {
    font-size: 0.9em;
  }

  /* End Footer */
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {

  /*Header*/
  a.navbar-brand {
    margin-left: 5px;
  }

  #collapsable-nav ul li a {
    font-size: 0.8em;
  }

  /*End Header*/
  /* Home page */
  .slider-container {
    height: 270px;
  }

  .slide#slide1,
  .slide#slide2,
  .slide#slide3 {
    height: 270px;
  }

  #slide1 {
    background: url('../images/slides/slide1_xxs.jpg') no-repeat;
  }  
  #slide2 {
    background: url('../images/slides/slide2_xxs.jpg') no-repeat;
  }
  #slide3 {
    background: url('../images/slides/slide3_xxs.jpg') no-repeat;
  }

  .slide>.upper-div {
    width: 250px;
    margin-top: 30px;
  }

  .slide h2 {
    margin-top: 0;
    font-size: 1.2em;
    margin-bottom: 5px;
    text-shadow: 0px 1px 2px #f9bc50;
  }

  .slide P {
    font-size: 0.6em;
    display: inline-block;

  }

  .slide>.lower-div>.botonSlides {
    font-size: 0.7em;
    margin-top: 0;
    width: 120px;
    height: 35px;
  }

  div#main-content.container-fluid {
    padding: 0 30px 0 30px;
    height: 380px;
  }

  #empresa-principal h2 {
    font-size: 1.2em;
  }

  #empresa-principal p {
    font-size: 0.6em;
  }

  /**Contador**/
  div#frase-celebre.parallax {
    padding: 20px 40px 20px 40px;
    height: 200px;
  }

  #frase h3 {
    font-size: 1.2em;
  }

  #frase p {
    font-size: 0.6em;
  }

  .panel-footer {
    padding-right: 15px;
    padding-left: 15px;
  }
  #footer_acerca,
  #footer_contacto {
    font-size: 0.7em;
  }

  #footer_acerca>span,
  #footer_contacto>span {
    font-size: 1.4em;
  }

  .text-center {
    font-size: 0.7em;
  }

}